.cardProject{
    width: 100%;
    position: relative;
    height: 100%;
    img {
        width: 100%;
        height: auto;
        top: 0;
        bottom: 0;
    }

    .name{
        font-size: 20px;
        text-align: center;
    }

    .buttons{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: .3em;
        .link{
            background: $border;
            padding: .5em;
            border-radius: 1em;
        }
    }
}