.hello{
    width: 100%;
    height: 100%;

    .command {
        width: 100%;
        font-size: 20px;
        padding: .5em 1em;
        display: flex;
        justify-items: center;

        .sign {
            width: 1em;
        }

        input {
            width: calc(100% - 1em);
            background: $base-terminal;
            border: none;
            font-size: 18px;
            color: $text-ligth;

            &:focus{
                outline: none;
            }
        }

    }

    .terminal-function {
        padding: 0 1em;
    }

}