.myData{
    background: white;
    width: 100%;
    height: 100%;
}


@media (max-width : 600px) {
    .myData{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (min-width : 600px) {
    .myData{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}