.myData{
    width: 100%;
    height: 100%;
    .name {
        display: flex;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .text{
            color: white;
        }

        .myName {
            color: white;
            padding: .1em 0;
            font-weight: 700;
        }
    }

    .projects{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .projectCardHello{

            .card{
                width: 100%;
                height: 100%;
                background: $base-terminal;
                border: 1px solid $border;
                border-radius: 2%;
            }
        
        }
    }

}


@media (max-width : 600px) {
    .myData{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .name{
            height: 40%;
        }
        .projects {
            height: 50%;
        }
        .name > * {
            width: 90%;

        }

        .myName {
            font-size: 40px;
            white-space: nowrap;
        }

        .projects{
            .projectCardHello{
                width: 80%;
                height: 80%;
            }
        }
    }
}

@media (min-width : 600px) {
    .myData{
        display: grid;
        grid-template-columns: 1fr 1fr;

        .name, .projects {
            height: 100%;
        }
        .name > * {
            width: 70%;
        }
        .myName{
            font-size: 60px;
        }

        .dev{
            margin-bottom: 2.5em;
        }

        .projects{
            .projectCardHello{
                width: 50%;
                height: 50%;
            }
        }

        
    }
}