nav {
    background: $base-color;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 2.5em;
   
    a {
        padding: 0 1.2em;
        border: 1px solid $base-terminal;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .active{
        background: $base-terminal;
        color: $terminal-yellow;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: $terminal-yellow;
            top: 0;
            left: 0;
        }
    }
}
