.taskbar{
    background: $base-terminal;
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .terminal-icon{
            color: white;
        }
    }
}