.taskbar{
    background: $base-terminal;
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .1s ease-in-out;
        padding: 0 1em;
        
        &:active i{
            transform: scale(.8);
        }

        &:hover{
            background: lighten($base-terminal, 5%);
            cursor: pointer;
        }
        
        .terminal-icon-logo{
            color: white;
        }

        .so-icon{
            font-size: 25px;
            color: white;
        }   

        .folder {
            font-size: 25px;
            color: white;
        }
        
    }

    .start{
        position: relative;
        transition: .3s;
        .open{
            bottom: 100%;
            .Bg{
                height: 100%;
                transition: .3s;
            }
        }

        .close{
            top: 100%;
            .Bg{
                height: 0;
                transition: .3s;
            }

        }
        .startMenu{
            position: absolute;
            width: 15em;
            height: 50vh;
            transition: .3s ease-in;
            left: 50%;
            transform: translateX(-50%);

            .Bg{
                transition: .3s;
                background: lighten($base-terminal, 3%);
                width: 100%;
                color: ($text-ligth);
            }


        }
    }
}