.taskbar{
    background: $base-terminal;
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .1s ease-in-out;
        padding: 0 1em;

        &:hover{
            background: lighten($base-terminal, 5%);
            cursor: pointer;
        }

        .terminal-icon{
            color: white;
        }

        .so-icon{
            font-size: 25px;
            color: white;
        }   
        
    }
}