.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .technologies{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;
    }
}