.sidebar {
    background: $base-color;
    height: 100%;
    padding: 1em 1.5em;
    ul {
        color: white;
        font-weight: 300;
        li{
            margin-bottom: 1px;
            cursor: pointer;
        }
    }
    .parentList{
        margin-top: 1em;
        .green {
            color: $green;
        }
        .childList{
            padding: 2px .5em;
        }
    }

}
