.sidebar {
    background: $base-color;
    height: 100%;
    padding: 1em 1.5em;
    ul {
        li{
            margin-bottom: 1px;
            cursor: pointer;
        }
    }
    .parentList{
        margin-top: 1em;
        .green {
            color: $green;
        }
        .yellow {
            color: $yellow;
        }
        .red{
            color: $red;
        }
        .orange{
            color: $orange
        }
        .blue{
            color: $blue;
        }
        .childList{
            padding: 2px .5em;
        }
    }

}
