.turnOff {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $base-color;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 30px;
  i {
    font-size: 60px;
    margin-bottom: 0.3em;
  }
}

.hiden {
  display: none;
}
