.projectsComponent{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5em;
    padding: 2em 3em;
    overflow-y: scroll;
    height: 100%;
    row-gap: 1.5em;
}