@import './styles/vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: $text-ligth;
    text-decoration: none;
}
.window{
    background: $base-color;
    width: 100%;
    height: 100vh;
    padding: 1.5em
}

@import './styles/terminal';
@import './styles/buttons';